.banner_wrappwer_img {
    background-image: url(../imgs/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 620px;
}