@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

*::selection {
  background-color: darkgoldenrod;
  color: white;
}

*::-webkit-scrollbar {
  display: block;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #000; /* or add it to the track */
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 10px;
}

.fullBg {
  width: 100%;
  height: 100vh;
  background-image: url(./components/imgs/background_it.jpg);
  /* filter: brightness(.75); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  position: fixed;

  /* z-index: -1; */
}

.scale-in-center {
  -webkit-animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ************  loader ***************** */
.loaderded {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat linear-gradient(white 0 0);
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%;
  animation: l10-1 2s infinite linear, l10-2 2s infinite linear;
}

.loader::after {
  margin: 25%;
  transform: scale(-1);
}

@keyframes l10-1 {
  0% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0;
  }

  12.5% {
    background-size: 100% 4px, 4px 0, 0 4px, 4px 0;
  }

  25% {
    background-size: 100% 4px, 4px 100%, 0 4px, 4px 0;
  }

  37.5% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 0;
  }

  45%,
  55% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 100%;
  }

  62.5% {
    background-size: 0 4px, 4px 100%, 100% 4px, 4px 100%;
  }

  75% {
    background-size: 0 4px, 4px 0, 100% 4px, 4px 100%;
  }

  87.5% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 100%;
  }

  100% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0;
  }
}

@keyframes l10-2 {
  0%,
  49.9% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }

  50%,
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
